<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Notebookify - Error Page</title>
</head>
<body>
    
    <style>
        .error-heading {
            font-family: 'Roboto', sans-serif;
        }
    </style>

    <div class="error-heading">
        <h2>Oops, an error occured!</h2>
        <p>Either the servers are slow, you were logged out, or the data you want to analyze is too large.</p>
        <a href='{{ auth_url }}'>Click here to login and try again!</a>
    </div>



</body>
</html>