<!DOCTYPE html> 
    <head>
        <title>Notebookify - Graphs</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <body>


        <style>
           
            .title-text {
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-size: 3rem;
                margin-top: 15px;
            }

            .table-title-text {
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;
                font-weight: 500;
            }

            .tempo-chart, td, th {
                text-align: center;
            }

            .graphs-space {
                margin-bottom: 50px;
            }

        </style>


        <!-- Start NavBar-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}">Notebookify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('displayOptions') }}">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('displayUserInfo') }}">Notebooks</a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('displayPlaylistLinks') }}">Graphs</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('displayAboutPage') }}">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
        
        <!-- End NavBar-->


        <h2 class="title-text">Playlist Overview</h2>
        
        {{ albumToArtistTreemap | safe }}

        <div class="graphs-space"></div>

        {{ artistFreqGraph | safe }}

        <div class="graphs-space"></div>

        {{ albumReleaseDatesGraph | safe }}

        <div class="graphs-space"></div>

        <h2 class="title-text">Song Data</h2>

        <div class="graphs-space"></div>

        {{ tempoGraph | safe }}

        <div class="graphs-space"></div>

        <div class="container">
            <div class="row">
                <div class="col-md d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <p class="table-title-text">10 Lowest Tempo Tracks</p>
                        {{ highestTempoTable | safe }}
                    </div>
                </div>

                <div class="col-md d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <p class="table-title-text">10 Highest Tempo Tracks</p>
                        {{ lowestTempoTable | safe }}
                    </div>
                </div>
                
            </div>
        </div>

        <div class="graphs-space"></div>

        {{ radarGraph | safe }}

        <div class="graphs-space"></div>

        {{modeGraph | safe}}

        <div class="graphs-space"></div>

        {{ explicitWordsGraph | safe }}

        <div class="graphs-space"></div>

        {{ popularityGraph | safe }}

        <div class="graphs-space"></div>

        {{ songLengthGraph | safe }}
        
    </body>
</html>